{% extends 'user_template.html' %}
{% load static %}
{% block content %}

    <head>
        <title>List of Topic </title>
    </head>
    <body>
        <div class="users">
            {% for item in singleuserlist %}
            <div class="user">
                <h2><a href="{% url 'users:user_topic_detail' topic=item.title username=usr %}">
                    <img src="{% static '/img/common/arrow.png' %}"width="2%" height="5%" />{{ item.title }}</a></h2>
            </div>
            {% endfor %}
        </div>
    </body>

{% endblock %}