{% load static %}
<html>
    <head>
        <title>Homepage Blog Exercise</title>
            <nav>
                <form class="logoutsite" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <div class="alignment" align="right">
                        <button type="submit"><img src="{% static '/img/common/logout.png' %}" width="30px" length="30px"/></button>
                    </div>
                </form>
            </nav>
    </head>
    <body>
        <center><h1>Please select ... </h1></center>
        <center><table style="width:50%">
            <tr>
                <td><h2><center><a href="{% url 'posts:topic_list' %}"><img src="{% static '/img/common/topic.png' %}" width="200px" length="200px" title="by topic"/></a></center></h2></td>
                <td><h2><center><a href="{% url 'users:user_list' %}"><img src="{% static '/img/common/user-group.png' %}" width="200px" length="200px" title="by user"/></a></center></h2></td>
            </tr>
        </table></center>
    </body>
</html>