{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static '/css/layouts/blog.css' %}">
            <nav>
                <form class="logoutsite" action="{% url 'accounts:logout' %}" method="post">
                    {% csrf_token %}
                    <div class="alignment" align="right">
                        <button type="submit"><img src="{% static '/img/common/logout.png' %}" width="30px" length="30px"/></button>
                    </div>
                </form>
            </nav>
    </head>
    <body>
        <div class="tmplt">
            <h1><a href="{% url 'users:user_list' %}"></a></h1>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>